body {
    background-color: #000000;
    color:aliceblue;
}

.main-block {
    display: flex;
    flex-direction: column;
    margin: 10%;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.533);
    border-radius: 5px;
}